
<script>
    const link_instagram = '{{constant("SITE_INSTAGRAM")}}';
    const link_whatsapp = '{{constant("SITE_WHATSAPP")}}';
</script>
<div class="w-100 py-4 border-top">
    <footer class="d-flex flex-wrap justify-content-around align-items-center ">     
       
        <div class=" d-flex align-items-center"> 
            <a href="/"
                class="mb-3 me-2 text-secondary text-decoration-none lh-1" aria-label="Bootstrap"> 
                <div class="d-flex mx-2">
                    <a href="/" class="d-flex align-items-center p-2 text-secondary text-decoration-none">
                              &copy; {{constant ('SITE_NOME')}} / 2025 - {{ano}}
                    </a>
                </div> 
            </a> 
        </div>
    </footer>
</div>
</body>
<script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/assets/js/tema/index.js"></script>
<script src="/assets/js/home/helpers.js"></script>

</html>