<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="{{ constant('SITE_DESCRICAO') }}" />
    <meta name="keywords" content="{{ constant('SITE_KEYWORDS') }}" />
    <meta name="author" content="{{ constant('SITE_AUTOR') }}" />
    <meta name="theme-color" content="{{ constant('SITE_TEMA') }}" />
    <link
      rel="icon"
      href="{{ constant ('SITE_FAVICON')}}"
      type="{{ constant('SITE_TYPEFAVICON') }}"
    />
    {% if titulo %}
    <title>{{ constant('SITE_NOME')}} - {{ titulo }}</title>
    {% else %}
    <title>{{ constant('SITE_NOME')}}</title>
    {% endif %}
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/boxicons/boxicons.min.css" />
    <link
      rel="stylesheet"
      href="/assets/css/boxicons/boxicons-brands.min.css"
    />
    <link rel="stylesheet" href="/assets/css/boxicons/animations.min.css" />
    <link
      rel="stylesheet"
      href="/assets/css/boxicons/transformations.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/boxicons/transformations.min.css"
    />
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap-icons.css" />
    <link rel="stylesheet" href="/assets/css/sweetalert2/sweetalert2.min.css" />
    
    <script src="/assets/js/sweetalert2/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <link rel="stylesheet" href="/assets/css/fonts.css" fetchpriority="high" />
  </head>
  <body>

